@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cookie&family=Courgette&family=Lobster&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');


:root{
    --cor1: #F0D8F2;
    --cor2: #E98DF0;
    --cor3: #B86FBD;
    --cor4: #6D4270;
    --cor5: #6F6470;

    --font1: 'Comfortaa', cursive;
    --font2: 'Cookie', cursive;
    --font3: 'Courgette', cursive;
    --font4: 'Lobster', cursive;
    --font5: 'Patrick Hand', cursive;
    --font6: 'Source Sans Pro', sans-serif;
}

body{
    overflow-x: hidden;
}

.carousel.slide{
    display: none;
    opacity: 0;
}

.carousel.slide{
    display: none;
    opacity: 0;
}

@media screen and (min-width:1100px){
    main{
        padding: 10px;
    }
    .container.start{
        background-color: white;
        padding: 15px 0px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.536);
        margin-bottom: 30px;
    }

    .col.start.one{
        margin-left: 40px;
    }
    .col.start{
        margin: 40px;
        margin-left: -40px;
    }
    .inicio{
        width: 100% !important;
        
    }
    .h1s{
        margin-left: 33px !important;
        font-size: 6vw;
        text-align: center !important;
        color: var(--cor4);
        font-family: var(--font3);
        margin: 0 auto;
    }
    .ps{
        text-align: justify;
        text-indent: 20px;
        font-size: 2.4vw;
        font-family: var(--font1);
    }
    .h1{
        font-size: 50px;
        font-family: var(--font3);
    }
    .p{
        text-align: justify;
        font-size: 20px;
        font-family: var(--font1);
    }
    .info1{
       margin: auto;
       width: 500px;
    }
    .info2, .info3{
        margin: auto;
        width: 500px;
    }
    .carousel{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        text-align: center;
    }
    .d-block.w-100{
        display: inline;
        width: 30vw !important;
        margin: 5px;
    }

    .col.info{
        display: inline-flex !important;
        width: 100%;
        gap: 50px;
        margin: 0 auto !important;
        text-align: center !important;
    }
}
/* Telas pequenas */
@media screen and (max-width:1100px){
    main{
        padding-top: 20px;
    }
    .carousel{
        display: none;
        opacity: 0;
    }
    .container.start{
        background-color: white;
        padding: 15px 0px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.536);

    }
    .col.start1{
        padding: 0px !important;
        margin: 0 auto !important;
        text-align: center;
    }
    .inicio{
        width: 100%;
        
    }
   
    .col.start.one{
        margin-left: 40px;
    }
    .col.start{
        margin: 40px;
        margin-left: -40px;
    }
    .h1s{
        font-size: 35px;
        text-align: center;
        color: var(--cor4);
        font-family: var(--font3);
        margin: 0 auto;
    }
    .ps{
        text-align: justify;
        text-indent: 20px;
        font-size: 2.4vw;
        font-family: var(--font1);
    }
    .carousel.slide{
        margin-top: 20px;
        display: block;
        opacity: 1;
        margin-bottom: 30px;
    }
    #carouselExampleIndicators{
        margin: auto;
        margin-top: 20px;
        box-shadow: 1px 1px 5px rgba(123, 52, 114, 0.536);
        width:  550px !important;
    }
    .d-block.w-100{
        height: 500px;
        text-align: center;
        margin: 0 auto;
        
        object-fit: cover;
        object-position: center center;
    }
    .h1{
        font-size: 30px;
        font-family: var(--font3);
    }
    .p{
        font-size: 20px;
        text-align: center;
        font-family: var(--font1);
    }
}
