@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cookie&family=Courgette&family=Lobster&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');


:root{
    --cor1: #F0D8F2;
    --cor2: #E98DF0;
    --cor3: #B86FBD;
    --cor4: #6D4270;
    --cor5: #6F6470;

    --font1: 'Comfortaa', cursive;
    --font2: 'Cookie', cursive;
    --font3: 'Courgette', cursive;
    --font4: 'Lobster', cursive;
    --font5: 'Patrick Hand', cursive;
    --font6: 'Source Sans Pro', sans-serif;
}
.d-block.w-100{
    height: 600px;
    object-fit: cover;
}