@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cookie&family=Courgette&family=Lobster&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');


:root{
    --cor1: #F0D8F2;
    --cor2: #f3a8f9;
    --cor3: #B86FBD;
    --cor4: #6D4270;
    --cor5: #6F6470;

    --font1: 'Comfortaa', cursive;
    --font2: 'Cookie', cursive;
    --font3: 'Courgette', cursive;
    --font4: 'Lobster', cursive;
    --font5: 'Patrick Hand', cursive;
    --font6: 'Source Sans Pro', sans-serif;
}

main{
    width: 100%;
    background-color: var(--cor1);
}
a:hover{
    color: var(--cor3) !important;
}
.navbar.navbar-expand-lg.navbar-light{
    box-shadow: 1px 1px 4px var(--cor1);
}

.col{
    text-align: center;
    width: 100%;
}
.col.info{
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 2px 5px rgba(75, 31, 75, 0.708);
}
a.navbar-brand{
    color: var(--cor3) !important;
    font-family: var(--font3);
    font-size: 35px;
}

.navbar-toggler{
    border: 0px !important;
}

a.nav-link{
    font-family: var(--font1);
    font-size: 20px;
    color: var(--cor4);
}

/* Footer */
.bg-dark.text-center.text-white{
    bottom: 0;
    background-color: white !important;
    width: 100%;
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.514);
    position: relative;
}

.btn.btn-outline-light.btn-floating.m-1{
    border-radius: 50%;
    border: 0px;
}

.btn.btn-outline-light.btn-floating.m-1:hover{
    background-color: transparent !important;
}

.rds{
    font-family:var(--font1);
    font-size: 20px;
    color: var(--cor4);
}

a.footer{
    text-decoration: none;
    color: rgb(0, 0, 130);
}
a.inicio{
    font-size: 20px;
    line-height: 50px;
    font-family: var(--font1);
    text-decoration: none;
    color: rgb(44, 41, 41);
}
a.inicio:hover{
    text-decoration: none;
    color: var(--cor3);
}

/* Barra de Rolagem */
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(98, 6, 119, 0.326);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: transparent;  /* creates padding around scroll thumb */
  }